@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-up(sm) {
  .summary-container {
    text-align: left;
  }
}