@use "sass:map";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

#footer-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
}

@include media-breakpoint-down(sm) {
  .copyright-row {
    justify-content: center;
  }
}

@media (min-width: 371px) and (max-width: map.get($grid-breakpoints, 'sm')) {
  #back-to-top {
    bottom: 95px;
  }
}

@media (max-width: 370px) {
  #back-to-top {
      bottom: 135px;
  }
}

@include media-breakpoint-up(sm) {
  #back-to-top {
    bottom: 88px;
  }
}

#back-to-top {
  position: fixed;
  right: 15px;
}
